@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/variable/pretendardvariable.css");

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}




/* 공통부분 */
body {font-family: 'Pretendard Variable', sans-serif; line-height: 1.5;}
h2 {font-family: 'Times New Roman'; font-style: italic; font-weight: 900; color: rgb(255, 255, 255, 0.9); font-size: 64px;}
p.txt {font-size: 20px; font-weight: normal; color: rgb(255, 255, 255, 0.9);}
.wrap {width: 100%; overflow: hidden;}




/* header */
header {width: 100%; position: fixed; z-index: 100; background: rgb(255, 255, 255, 0.3); transition: all 0.3s;}
.headerInner {width: 90%; margin: 0 auto; padding-top: 1%; box-sizing: border-box;}
    /* tnb */
    .headerInner .headerTnb {width: 100%; padding-left: 83%; display: flex; justify-content: space-between; box-sizing: border-box; margin-bottom: 10px;}
    .headerInner .headerTnb li {width: auto}
    .headerInner .headerTnb li a {display: block; width: 100%; height: 100%; font-size: 14px; font-weight: bold; color: #fff; transition: all 0.3s;}
    /* gnb */
    .headerInner .headerGnb {width: 100%; height: 70px; position: relative; line-height: 70px; padding-bottom: 10px;}
    .headerInner .headerGnb h1.logo {width: auto; position: absolute; top: -18px; left: 0;}
    .headerInner .headerGnb h1.logo a {display: inline-block;}
    .headerInner .headerGnb h1.logo a img {transition: all 0.3s;}
    .headerInner .headerGnb ul {position: absolute; right: 0; top: 0;}
    .headerInner .headerGnb ul li {width: auto; float: left; margin-right: 50px; box-sizing: border-box; line-height: none; color: #fff; text-align: center;}
    .headerInner .headerGnb ul li a {display: block; width: 100%; height: 100%; font-size: 18px; font-weight: bold; transition: all 0.3s;}
    .headerInner .headerGnb ul li.reservation {width: 150px; color: #d37348; border: 1px solid #d37348; padding: 0 10px; margin-right: 0; box-sizing: border-box; line-height: 2; margin-top: 18px;}
/* hover */
.headerInner .headerTnb li a:hover, .headerInner .headerTnb li a:focus {color: #d37348;}
.headerInner .headerGnb ul li a:hover, .headerInner .headerGnb ul li a:focus {color: #d37348;}
.headerInner .headerGnb ul li.reservation {position:relative; display: block;}
.headerInner .headerGnb ul li.reservation a::before {content: ''; width: 0%; height: 100%; position: absolute; background: rgb(211,115,71); left: 0; top: 0; transition: all 0.4s; z-index: -1;}
.headerInner .headerGnb ul li.reservation a:hover::before, .headerInner .headerGnb ul li.reservation a:focus::before {width: 100%;}
.headerInner .headerGnb ul li.reservation a:hover, .headerInner .headerGnb ul li.reservation a:focus {color: #fff;}
.headerInner .headerGnb h1.logo a:hover img {filter: brightness(120%);}




/* section.one */
.one {width: 100%; height: 100vh; overflow: hidden; position: relative;}
    .one .bgimg {width: 100%; height: 100%; background: url(../img/about_1.png) no-repeat center/cover;}
    .one .txtBox {width: 100%; text-align: center; position: absolute; top: 50%; left: 0; transform: translateY(-50%);}
    .one .txtBox .txt {line-height: 0.5;}
    .one .scroll {width: auto; text-align: center; position: absolute; bottom: 3%; left: 50%; transform: translateX(-50%); color: #fff;}
    .one .scroll .square {width: 15px; height: 28px; border: 2px solid #fff; margin: 0 auto; border-radius: 30px; position: relative;}
    .one .scroll .square::before {content: ''; position: absolute; top: 15px; left: 50%; transform: translateX(-50%); width: 7px; height: 7px; background: #fff; border-radius: 50%;}
    .one .scroll i {transform: translateY(8px);}
    .one .scroll .txt {font-size: 16px;}

/* animation */
@keyframes sizeUp{
    0% {transform: scale(1.5);}
}
.one .bgimg.motion {animation-name: sizeUp; animation-duration: 2s;}
@keyframes Up {
    0% {opacity: 0; transform: translateY(80px);}
}
.one .txtBox.motion {animation-name: Up; animation-duration: 2.3s;}
@keyframes scroll {
    0% {top: 5px;}
    100% {opacity: 0;}
}
.one .scroll .square::before {animation-name: scroll; animation-duration: 2s; animation-iteration-count: infinite;}
@keyframes scrollArrow {
    0% {transform: translateY(-8px)}
    100% {opacity: 0;}
}
.one .scroll i {animation-name: scrollArrow; animation-duration: 2s; animation-iteration-count: infinite;}




/* section.two */
.two {width: 100%; height: 100vh; position: relative; background: url(../img/about_2.png) no-repeat center/cover; background-attachment: fixed;}
    .two .txtBox {width: 100%; position: absolute; top: 33%; left: 10%;}
    .two .txtBox h2 {padding-bottom: 80px;}
    .two .txtBox .subTxtBox .t1 {margin-bottom: 30px;}
    .two .txtBox .subTxtBox .t3 {margin-bottom: 30px;}
    .two .scroll {width: auto; text-align: center; position: absolute; bottom: 3%; left: 50%; transform: translateX(-50%); color: #fff;}
    .two .scroll .square {width: 15px; height: 28px; border: 2px solid #fff; margin: 0 auto; border-radius: 30px; position: relative;}
    .two .scroll .square::before {content: ''; position: absolute; top: 15px; left: 50%; transform: translateX(-50%); width: 7px; height: 7px; background: #fff; border-radius: 50%;}
    .two .scroll i {transform: translateY(8px);}
    .two .scroll .txt {font-size: 16px;}
/* animation */
.two .txtBox h2.motion {animation-name: Up; animation-duration: 1.2s;}
.two .txtBox .subTxtBox.motion {animation-name: Up; animation-duration: 1.2s;}
@keyframes opacity {
    0% {opacity: 0;}
    60%{opacity: 0;}
}
.two .txtBox .subTxtBox .t1.motion {animation-name: opacity; animation-duration: 0.8s;}
.two .txtBox .subTxtBox .t2.motion {animation-name: opacity; animation-duration: 1s;}
.two .txtBox .subTxtBox .t3.motion {animation-name: opacity; animation-duration: 1.2s;}
.two .txtBox .subTxtBox .t4.motion {animation-name: opacity; animation-duration: 1.4s;}
.two .scroll .square::before {animation-name: scroll; animation-duration: 2s; animation-iteration-count: infinite;}
.two .scroll i {animation-name: scrollArrow; animation-duration: 2s; animation-iteration-count: infinite;}




/* section.three */
.three {width: 100%; height: 100vh; position: relative; background: url(../img/about_3.png)no-repeat center/cover; background-attachment: fixed;}
    .three .txtBox {width: 100%; position: absolute; top: 30%; text-align: center;}
    .three .txtBox h2 {padding-bottom: 80px;}
    .three .txtBox .subTxtBox .t1 {margin-bottom: 30px;}
    .three .scroll {width: auto; text-align: center; position: absolute; bottom: 3%; left: 50%; transform: translateX(-50%); color: #fff;}
    .three .scroll .square {width: 15px; height: 28px; border: 2px solid #fff; margin: 0 auto; border-radius: 30px; position: relative;}
    .three .scroll .square::before {content: ''; position: absolute; top: 15px; left: 50%; transform: translateX(-50%); width: 7px; height: 7px; background: #fff; border-radius: 50%;}
    .three .scroll i {transform: translateY(8px);}
    .three .scroll .txt {font-size: 16px;}
/* animation */
.three .txtBox h2.motion {animation-name: Up; animation-duration: 1.2s;}
.three .txtBox .subTxtBox.motion {animation-name: Up; animation-duration: 1.2s;}
.three .txtBox .subTxtBox .t1.motion {animation-name: opacity; animation-duration: 0.8s;}
.three .txtBox .subTxtBox .t2.motion {animation-name: opacity; animation-duration: 1s;}
.three .txtBox .subTxtBox .t3.motion {animation-name: opacity; animation-duration: 1.2s;}
.three .scroll .square::before {animation-name: scroll; animation-duration: 2s; animation-iteration-count: infinite;}
.three .scroll i {animation-name: scrollArrow; animation-duration: 2s; animation-iteration-count: infinite;}




/* section.four */
.four {width: 100%; height: 100vh; position: relative; background: url(../img/about_4.png)no-repeat center/cover; background-attachment: fixed;}
    .four .txtBox {width: 100%; position: absolute; top: 30%; right: 5%; text-align: right;}
    .four .txtBox h2 {padding-bottom: 80px;}
    .four .scroll {width: auto; text-align: center; position: absolute; bottom: 3%; left: 50%; transform: translateX(-50%); color: #fff;}
    .four .scroll .square {width: 15px; height: 28px; border: 2px solid #fff; margin: 0 auto; border-radius: 30px; position: relative;}
    .four .scroll .square::before {content: ''; position: absolute; top: 15px; left: 50%; transform: translateX(-50%); width: 7px; height: 7px; background: #fff; border-radius: 50%;}
    .four .scroll i {transform: translateY(8px);}
    .four .scroll .txt {font-size: 16px;}
/* animation */
.four .txtBox h2.motion {animation-name: Up; animation-duration: 1.2s;}
.four .txtBox .subTxtBox.motion {animation-name: Up; animation-duration: 1.2s;}
.four .txtBox .subTxtBox .t1.motion {animation-name: opacity; animation-duration: 0.8s;}
.four .txtBox .subTxtBox .t2.motion {animation-name: opacity; animation-duration: 1s;}
.four .scroll .square::before {animation-name: scroll; animation-duration: 2s; animation-iteration-count: infinite;}
.four .scroll i {animation-name: scrollArrow; animation-duration: 2s; animation-iteration-count: infinite;}




/* section.five1 */
.five1 {width: 100%; height: 100vh; position: relative; background: url(../img/about_5.png) no-repeat center/cover; background-attachment: fixed;}
.five1 .txtBox {width: 100%; text-align: center; position: absolute; top: 32%; left: 0}
.five1 .txtBox h2 {padding-bottom: 110px;}
.five1 .txtBox .t2 {padding-bottom: 50px;}
/* animation */
.five1 .txtBox h2.motion {animation-name: Up; animation-duration: 1.2s;}
.five1 .txtBox .subTxtBox.motion {animation-name: Up; animation-duration: 1.2s;}
.five1 .txtBox .t1.motion {animation-name: opacity; animation-duration: 0.8s;}
.five1 .txtBox .t2.motion {animation-name: opacity; animation-duration: 1s;}
.five1 .txtBox .t3.motion {animation-name: opacity; animation-duration: 1.2s;}
.five1 .txtBox .t4.motion {animation-name: opacity; animation-duration: 1.4s;}




/* section.five2 */
.five2 {width: 100%; height: 100vh; position: relative; background: url(../img/about_5.png) no-repeat center/cover; background-attachment: fixed; padding: 10% 0;}
.five2 .txtBox {width: 100%; text-align: center; position: absolute; top: 32%; left: 0}
.five2 .txtBox h2 {padding-bottom: 110px;}
.five2 .txtBox .t2 {padding-bottom: 270px;}
/* animation */
.five2 .txtBox h2.motion {animation-name: Up; animation-duration: 1.2s;}
.five2 .txtBox .subTxtBox.motion {animation-name: Up; animation-duration: 1.2s;}
.five2 .txtBox .t1.motion {animation-name: opacity; animation-duration: 0.8s;}
.five2 .txtBox .t2.motion {animation-name: opacity; animation-duration: 1s;}
.five2 .txtBox .logoImg.motion {animation-name: opacity; animation-duration: 1.2s;}



/* section.contectUs */
.contectus {width: 100%; position: relative; background: url(../img/about_5.png) no-repeat center/cover; background-attachment: fixed;}
.contectus .inner {width: 1400px; padding: 15% 0; display: flex; margin: 0 auto;}
    /* left */
    .contectus .inner .left {width: 37%; margin-right: 8%;}
    .contectus .inner .left h2 {width: 100%; margin-bottom: 50px;}
    .contectus .inner .left .address {width: 100%; font-size: 18px; font-weight: normal; color: #222; margin-bottom: 80px;}
        /* txtBox .table*/
        .contectus .inner .left .txtBox {width: 100%; color: #222;}
        .contectus .inner .left .txtBox .table {width: 100%; display: flex; justify-content: space-between; font-size: 18px; margin-bottom: 10px; border-bottom: 1px solid rgb(255,255,255,0.3); padding-bottom: 10px; color: #222; font-weight: normal; line-height: 1.6;}
        .contectus .inner .left .txtBox .table h3 {width: 26%; font-weight: bold; color: #222;}
        .contectus .inner .left .txtBox .table ul {width: 74%;}
        .contectus .inner .left .txtBox .table ul li {width: 100%; display: flex; justify-content: space-between;}
        .contectus .inner .left .txtBox .table ul li .txt {width: 35%; color: #222;}
        .contectus .inner .left .txtBox .table ul li .num {width: 40%;}
        .contectus .inner .left .txtBox .table ul li .num2 {width: 25%;}
        .contectus .inner .left .txtBox .table.represent h3, .contectus .inner .left .txtBox .table.represent .txt, .contectus .inner .left .txtBox .table.represent .num {color: #d37348; font-weight: bold;}
    /* right */
    .contectus .inner .right {width: 55%; margin-top: 30px;}
        /* right .top */
        .contectus .inner .right .top {width: 100%; height: 600px; background: #ccc;}
        /* right .bottom */
        .contectus .inner .right .bottom {width: 100%; background: rgb(251, 249, 246, 0.3); padding: 50px 30px 20px 30px; box-sizing: border-box; color: #222; font-weight: normal;}
        .contectus .inner .right .bottom ul {width: 100%;}
        .contectus .inner .right .bottom ul li {width: 100%; display: flex; justify-content: space-between; margin-bottom: 30px;}
        .contectus .inner .right .bottom ul li:nth-child(1) {border-bottom: 1px solid rgb(204,204,204,0.6); padding-bottom: 30px; box-sizing: border-box;}
        .contectus .inner .right .bottom ul li h3 {width: 20%; font-weight: bold; font-size: 16px;}
        .contectus .inner .right .bottom ul li .txt {width: 80%; line-height: 1.7; font-size: 16px;}
        .contectus .inner .right .bottom ul li .txt .time {font-weight: bold; margin-bottom: 40px;}
        .contectus .inner .right .bottom ul li .txt span {font-weight: bold; padding-right: 5px; box-sizing: border-box;}
        .contectus .inner .right .bottom ul li .txt span.space {font-weight: normal;}
        .contectus .inner .right .bottom ul li .txt span.space1 {padding-left: 100px; box-sizing: border-box;}
        .contectus .inner .right .bottom ul li .txt span.space2 {padding-left: 55px; box-sizing: border-box;}
        .contectus .inner .right .bottom ul li .txt span.space3 {padding-left: 70px; box-sizing: border-box;}
/* animation */
@keyframes down {
    0% {opacity: 0; transform: translateY(-80px);}
}
@keyframes left {
    0% {transform: translateX(50px);}
}
@keyframes right {
    0% {transform: translateX(-50px);}
}
.contectus .inner .left h2.motion {animation-name: down; animation-duration: 1.4s;}
.contectus .inner .left .address.motion {animation-name: down; animation-duration: 1.4s;}
.contectus .inner .right.motion {animation-name: left; animation-duration: 1.4s;}
.contectus .inner .left .txtBox.motion {animation-name: right; animation-duration: 1.4s;}



/* arrowsTop */
a.arrowsTop {display: inline-block; margin-right: 30px; position: absolute; right: 30px; bottom: 50px; text-align: center; font-size: 60px; line-height: 1; color: #222;}
/* hover */
a.arrowsTop::before {position: absolute; top: 10px; left: 50%; transform: translateX(-50%); background: #222; content: 'TOP'; width: 40px; height: 40px; line-height: 40px; font-size: 16px; color: #fff; border-radius: 50%; opacity: 0; transition: all 0.3s;}
a.arrowsTop:hover::before, a.arrowsTop:focus::before {opacity: 1;}




/* footer */
footer {width: 100%; height: 300px; background: #222; color: rgb(255, 255, 255, 0.4); font-size: 15px; font-weight: normal;}
.footerInner {width: 1400px; margin: 0 auto; display: flex; justify-content: space-between; padding: 50px 0 30px 0;}
    /* left */
    .footerInner .left {width: 55%;}
    .footerInner .left ul {width: 100%;}
    .footerInner .left ul.top {display: flex; justify-content: space-between; margin-bottom: 30px;}
    .footerInner .left ul.top li.logo a img {transition: all 0.3s; filter: grayscale(100%);}
    .footerInner .left ul.top li.top1 {padding-top: 5px;}
    .footerInner .left ul.top li a {display: inline-block; font-weight: 600; transition: all 0.3s;}
    .footerInner .left ul.middle {line-height: 1.2; margin-bottom: 30px; font-size: 14px;}
    .footerInner .left ul.bottom {border-top: 1px solid; padding-top: 15px;}
    /* right */
    .footerInner .right {width: auto; padding-top: 5px;}
    .footerInner .right a {display: inline-block; font-weight: 600; transition: all 0.3s;}
/* hover */
footer .footerInner a:hover, footer .footerInner a:focus {color: #d37348; text-decoration: underline;}
.footerInner .left ul.top li.logo:hover img, .footerInner .left ul.top li.logo:focus a img {filter: grayscale(0%);}
/* animation */
@keyframes footerUp {
    0% {transform: translateY(100px);}
}
footer.motion {animation-name: footerUp; animation-duration: 0.7s;}