@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/variable/pretendardvariable.css");

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}



/* 공통부분 */
body {font-family: 'Pretendard Variable', sans-serif; line-height: 1.5;}
h2 {font-family: 'Times New Roman'; font-style: italic; font-weight: 900; color: #222;}
.wrap {width: 100%; overflow: hidden;}



/* header */
header {width: 100%; position: fixed; z-index: 100; background: rgb(255, 255, 255, 1); transition: all 0.3s;}
.headerInner {width: 90%; margin: 0 auto; padding-top: 1%; box-sizing: border-box;}
    /* tnb */
    .headerInner .headerTnb {width: 100%; padding-left: 83%; display: flex; justify-content: space-between; box-sizing: border-box; margin-bottom: 10px;}
    .headerInner .headerTnb li {width: auto}
    .headerInner .headerTnb li a {display: block; width: 100%; height: 100%; font-size: 14px; font-weight: bold; color: #222; transition: all 0.3s;}
    /* gnb */
    .headerInner .headerGnb {width: 100%; height: 70px; position: relative; line-height: 70px; padding-bottom: 10px;}
    .headerInner .headerGnb h1.logo {width: auto; position: absolute; top: -18px; left: 0;}
    .headerInner .headerGnb h1.logo a {display: inline-block;}
    .headerInner .headerGnb h1.logo a img {transition: all 0.3s;}
    .headerInner .headerGnb ul {position: absolute; right: 0; top: 0;}
    .headerInner .headerGnb ul li {width: auto; float: left; margin-right: 50px; box-sizing: border-box; line-height: none; color: #222; text-align: center;}
    .headerInner .headerGnb ul li a {display: block; width: 100%; height: 100%; font-size: 18px; font-weight: bold; transition: all 0.3s;}
    .headerInner .headerGnb ul li.reservation {width: 150px; color: #d37348; border: 1px solid #d37348; padding: 0 10px; margin-right: 0; box-sizing: border-box; line-height: 2; margin-top: 18px;}
/* hover */
.headerInner .headerTnb li a:hover, .headerInner .headerTnb li a:focus {color: #d37348;}
.headerInner .headerGnb ul li a:hover, .headerInner .headerGnb ul li a:focus {color: #d37348;}
.headerInner .headerGnb ul li.reservation {position:relative; display: block;}
.headerInner .headerGnb ul li.reservation a::before {content: ''; width: 0%; height: 100%; position: absolute; background: rgb(211,115,71); left: 0; top: 0; transition: all 0.4s; z-index: -1;}
.headerInner .headerGnb ul li.reservation a:hover::before, .headerInner .headerGnb ul li.reservation a:focus::before {width: 100%;}
.headerInner .headerGnb ul li.reservation a:hover, .headerInner .headerGnb ul li.reservation a:focus {color: #fff;}
.headerInner .headerGnb h1.logo a:hover img {filter: brightness(90%);}



/* section*/
section {width: 100%; overflow: hidden; padding-top: 110px; position: relative;}
.inner {width: 1400px; margin: 0 auto;}

    /* bnBox */
    .inner .bnBox {width: 100%;}
    .inner .bnBox nav {width: 100%; padding-top: 40px;}
    .inner .bnBox nav a {display: inline-block; font-size: 14px; font-weight: 500; color: #ccc; transition: all 0.3s;}
    .inner .bnBox nav .nav2 {color: #555;}
    .inner .bnBox .titBox {text-align: center; padding: 100px 0}
    .inner .bnBox .titBox h2 {color: #d37348; font-size: 64px;}
    .inner .bnBox .titBox .txt {color: #222; font-weight: normal; font-size: 18px;}

    /* inputBox */
    .inner .inputBox {width: 100%; display: flex; justify-content: space-between; padding-bottom: 100px;}
    .inner .inputBox .left {display: inline-block;}
    .inner .inputBox .left input {font-size: 16px; color: #222; width: 250px; height: 25px; border: none; border-bottom: 1px solid #222; padding-bottom: 8px; padding-top: 3px; font-family: 'Pretendard Variable', sans-serif;}
    .inner .inputBox .right {display: inline-block; border-bottom: 1px solid #222;}
    .inner .inputBox .right input {font-size: 16px; color: #222; width: 250px; height: 25px; border: none; padding-bottom: 8px; padding-top: 3px; font-family: 'Pretendard Variable', sans-serif}
    .inner .inputBox .right a {display: inline-block;}
    
    /* imgBox */
    .inner ul {width: 100%; float: left; padding-bottom: 350px;}
    .inner ul li {width: 30%; float: left; margin-right: 5%; box-sizing: border-box; margin-bottom: 100px; box-shadow: 0 0 20px rgba(0,0,0,0.1);}
    .inner ul li:nth-child(3) {margin-right: 0;}
    .inner ul li:nth-child(6) {margin-right: 0;}
    .inner ul li:nth-child(9) {margin-right: 0;}
    .inner ul li a {display: block; width: 100%; height: 100%; transition: all 0.5s;}
    .inner ul li a .img {width: 100%; height: 300px; margin-bottom: 30px; overflow: hidden;}
    .inner ul li a .img img {width: 100%; height: 100%; transition: all 0.7s;}
    .inner ul li a .txtBox {width: 100%; padding-left: 30px; padding-bottom: 20px; box-sizing: border-box;}
    .inner ul li a .txtBox .tit {width: 100%; padding-bottom: 15px; font-size: 28px; color: #222; font-weight: 500;}
    .inner ul li a .txtBox .txt {width: 100%; height: 80px; padding-bottom: 20px; font-size: 16px; font-weight: normal; color: #555; line-height: 1.5;}
    .inner ul li a .txtBox .day {width: 100%; font-size: 16px; font-weight: normal; color: #555;}
    .inner ul li a .txtBox .price {width: 100%; font-size: 28px; font-weight: 500; color: #222;}
    .inner ul li a .txtBox .price span {font-size: 18px; font-weight: 500;}
/* hover */
.inner .bnBox nav a:hover {text-decoration: underline;}
.inner ul li a:hover, .inner ul li a:focus {opacity: 0.6;}
.inner ul li a:hover .img img, .inner ul li a:focus .img img {transform: scale(1.2);}
/* animation */
@keyframes titUp {
    0% {opacity: 0; transform: translateY(50px);}
}
.inner .bnBox .titBox h2.motion {animation-name: titUp; animation-duration: 1.5s;}
@keyframes txtUp {
    0% {opacity: 0; transform: translateY(20px);}
}
.inner .bnBox .titBox .txt.motion {animation-name: txtUp; animation-duration: 1.5s;}
@keyframes imgBoxDown {
    0% {transform: translateY(-50px);}
}
.inner ul.motion {animation-name: imgBoxDown; animation-duration: 1.5s;}


/* arrowsTop */
a.arrowsTop {display: inline-block; margin-right: 30px; position: absolute; right: 30px; bottom: 50px; text-align: center; font-size: 60px; line-height: 1; color: #222;}
/* hover */
a.arrowsTop::before {position: absolute; top: 10px; left: 50%; transform: translateX(-50%); background: #222; content: 'TOP'; width: 40px; height: 40px; line-height: 40px; font-size: 16px; color: #fff; border-radius: 50%; opacity: 0; transition: all 0.3s;}
a.arrowsTop:hover::before, a.arrowsTop:focus::before {opacity: 1;}




/* footer */
footer {width: 100%; height: 300px; background: #222; color: rgb(255, 255, 255, 0.4); font-size: 15px; font-weight: normal;}
.footerInner {width: 1400px; margin: 0 auto; display: flex; justify-content: space-between; padding: 50px 0 30px 0;}
    /* left */
    .footerInner .left {width: 55%;}
    .footerInner .left ul {width: 100%;}
    .footerInner .left ul.top {display: flex; justify-content: space-between; margin-bottom: 30px;}
    .footerInner .left ul.top li.logo a img {transition: all 0.3s; filter: grayscale(100%);}
    .footerInner .left ul.top li.top1 {padding-top: 5px;}
    .footerInner .left ul.top li a {display: inline-block; font-weight: 600; transition: all 0.3s;}
    .footerInner .left ul.middle {line-height: 1.2; margin-bottom: 30px; font-size: 14px;}
    .footerInner .left ul.bottom {border-top: 1px solid; padding-top: 15px;}
    /* right */
    .footerInner .right {width: auto; padding-top: 5px;}
    .footerInner .right a {display: inline-block; font-weight: 600; transition: all 0.3s;}
/* hover */
footer .footerInner a:hover, footer .footerInner a:focus {color: #d37348; text-decoration: underline;}
.footerInner .left ul.top li.logo:hover img, .footerInner .left ul.top li.logo:focus a img {filter: grayscale(0%);}
/* animation */
@keyframes footerUp {
    0% {transform: translateY(100px);}
}
footer.motion {animation-name: footerUp; animation-duration: 0.7s;}