@charset "utf-8";
@font-face {
    font-family: 'Happiness-Sans-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");



/* reset */
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;}
header, main, footer, section, article, aside, nav {display: block;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle; max-width: 100%;}
li {list-style: none;}



/* layout */
.wrap {position: relative; font-family: 'Pretendard'; overflow: hidden;}



/* section.visual */
.visual {background: url(../img/mainBanner@2x.jpg) no-repeat center/cover; position: relative; height: 100vh;}
/* header */
header {width: 100%; height: 40px; line-height: 40px; display: flex; justify-content: space-between; padding: 0 40px; box-sizing: border-box; position: absolute; top: 40px; font-family: 'Happiness-Sans-Regular'; font-size: 15px;}
header .logo img {width: 217px; height: 29px; padding-bottom: 7px;}
header .gnb {position: absolute; left: 50%; transform: translateX(-50%);}
header .gnb a {padding: 0 15px; color: #fff; font-weight: 700;}
header .sideBtn {display: flex; justify-content: space-between; padding-left: 8px; color: #fff;}
header .sideBtn > a {margin-right: 10px;}
header .sideBtn .lang {position: relative; margin-right: 20px;}
header .sideBtn .lang a {color: #4f4e4e; margin: 0 5px;}
header .sideBtn .lang a:nth-child(1)::before {content: '｜'; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
header .sideBtn .lang a:nth-child(2)::before {content: '｜'; position: absolute; top: 0; left: 50%; transform: translateX(-50%); display: none;}
header .sideBtn .icon a {display: inline-block; width: 40px; height: 40px; background: #fff; border-radius: 50%; margin: 0 5px;}
header .sideBtn .icon a:last-child {margin-right: 0;}
header .sideBtn .icon a img {width: 65%; padding-left: 17.5%; padding-bottom: 2px;}
    /* .lang:hover */
    header .sideBtn .lang a:nth-child(1):hover, header .sideBtn .lang a:nth-child(1):hover::before, header .sideBtn .lang a:nth-child(1):focus, header .sideBtn .lang a:nth-child(1):focus::before {color: #fff;}
    header .sideBtn .lang a:nth-child(2):hover, header .sideBtn .lang a:nth-child(2):hover::before, header .sideBtn .lang a:nth-child(2):focus, header .sideBtn .lang a:nth-child(2):focus::before {color: #fff; display: inline-block;}
/* gnbMo 1200px까지는 보이지 않음 */
.gnbMo {display: none;}



/* .visual .txtBox */
.visual .txtBox {width: 1120px; color: #fff; position: absolute; bottom: 7vw; left: 50%; transform: translateX(-50%); box-sizing: border-box;}
.visual .txtBox .tit {font-size: 64px; line-height: 1; margin-bottom: 50px; font-weight: 600;}
.visual .txtBox .txt {font-size: 24px; font-weight: 600;}
/* scroll */
.scroll {text-align: center; position: absolute; bottom: 2.8%; left: 50%; transform: translateX(-50%); color: #fff;}
.scroll .txt {font-size: 16px; margin-bottom: 5px; opacity: 0.8;}
.scroll .square {width: 20px; height: 35px; border: 2px solid #fff; margin: 0 auto; border-radius: 30px; position: relative;}
.scroll .square::before {content: ''; position: absolute; top: 15px; left: 50%; transform: translateX(-50%); width: 4px; height: 4px; background: #fff; border-radius: 50%;}

    /* animation */
    @keyframes scroll {
        0% {top: 8px;}
        10% {top: 6px;}
        30% {opacity: 1;}
        40% {top: 25px; opacity: 0;}
        100% {opacity: 0;}
    }
    .scroll .square::before {animation-name: scroll; animation-duration: 1.8s; animation-iteration-count: infinite; animation-timing-function: ease-in;}

    @keyframes up {
        0% {transform: translateY(50px); opacity: 0;}
    }
    .visual .txtBox.motion .tit {animation-name: up; animation-duration: 1.2s;}
    .visual .txtBox.motion .txt {animation-name: up; animation-duration: 1.6s;}

    @keyframes scale {
        0% {transform: scale(120%); opacity: 0;}
    }
    .visual.motion {animation-name: scale; animation-duration: 0.9s;}



/* section.universe */
.universe {width: 100%; height: 100vh; position: relative;}
.universe p.bg {position: absolute; height: calc(100vh - 7vw); right: 0; bottom: 40px; width: 55%;}
.universe p.bg video {object-fit: cover; width: 100%; height: 100%;}
.universe .txtBox {position: absolute; top: 140px; left: 50%; transform: translateX(-50%); width: 1100px;}
.universe .txtBox .tit {font-size: 58px; font-weight: 600; color: #000; line-height: 1.1; margin-bottom: 50px;}
.universe .txtBox .tit br.mo {display: none;}
.universe .txtBox .txt {font-size: 16px; font-weight: 300; color: #000; line-height: 1.6;}
    /* animation */
    .universe .txtBox.motion .tit {animation-name: up; animation-duration: 0.7s;}
    .universe .txtBox.motion .txt {animation-name: up; animation-duration: 1.2s;}



/* ul.slideContents */
.slide {width: 100%;}
.slide .slide1 {width: 100%; height: 100vh; background: url(../img/productBG02X.jpg) no-repeat center/cover; position: relative;}
.slide .slide2 {width: 100%; height: 100vh; background: url(../img/productBG01X2.jpg) no-repeat center/cover; position: relative;}
.slide .bg {width: 35vw; position: absolute; right: 140px; top: 50%; transform: translateY(-50%);}
.slide .bg img {width: 100%;}
.slide .txtBox {width: 49vw; height: 25vw; min-width: 521px; min-height: 394px;  position: absolute; left: 0; top: 50%; transform: translateY(-50%); color: #fff; background: rgba(0,0,0,0.4);}
.slide .slide2 .txtBox {height: 30vw; min-height: 460px;}
.slide .txtBox ul {min-width: 330px; min-height: 290px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.slide .slide2 .txtBox ul {min-width: 470px; width: auto;}
.slide .txtBox ul .tit {font-size: 58px; font-weight: 600; margin-bottom: 50px;}
.slide .txtBox ul .txt {font-size: 16px; font-weight: 300; line-height: 1.6;}
.slide .slick-arrow {position: absolute; top: 50%; z-index: 1; text-indent: -9999px; background: none; border: none; color: rgb(255, 255, 255, 0.8); height: 70px; line-height: 70px; cursor: pointer;}
.slide .slick-prev {left: 60px;}
.slide .slick-next {right: 60px;}
.slide .slick-prev::before {position: absolute; top: 0; left: 0; content: '\2329'; text-indent: 0; font-size: 70px;}
.slide .slick-next::before {position: absolute;  top: 0; right: 0; content: '\232A'; text-indent: 0; font-size: 70px;}
    /* animation */
    .slide .slide1.motion .txtBox ul .tit {animation-name: up; animation-duration: 0.7s;}
    .slide .slide1.motion .txtBox ul .txt {animation-name: up; animation-duration: 1.2s;}


/* section.banner */
.banner {width: 100%; height: 480px; background: url(../img/advertisementBGX2.jpg) no-repeat center/cover; position: relative;}
.banner .tit {width: 50%; font-size: 58px; font-weight: 600; color: #fff; line-height: 1.3; position: absolute; top: 50%; right: 0; transform: translateY(-50%); padding-right: 8vw; box-sizing: border-box;}
    /* animation */
    .banner.motion .tit {animation-name: up; animation-duration: 0.7s;}



/* section.marquee */
.marquee {width: 100%; height: 100vh; overflow: hidden; position: relative;}
.marquee .inner {width: 100%; position: relative; padding-bottom: 120px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.marquee .inner .tit {width: 100%; font-size: 42px; font-weight: 600; color: #000; text-align: center; margin-bottom: 80px;}
.marquee .inner .slide {width: 100%;}
.marquee .inner .slide li {width: 16vw; min-width: 208px; height: 100%; margin: 0 2vw; flex-shrink: 0;}
.marquee .inner .slide li img {width: 100%; height: 100%;}
.marquee .inner button {background: #fff; border: 1px solid #000; padding: 25.5px 62.5px; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); font-size: 18px; color: rgba(0,0,0,0.9); cursor: pointer;}
    /* animation */
    .marquee .inner.motion .tit {animation-name: up; animation-duration: 0.7s;}



/* section.roadmap */
.roadmap {width: 100%; height: 100vh; background: url(../img/roadMapBG@2x.jpg) no-repeat center/cover; overflow: hidden; position: relative;}
.roadmap .inner {width: 1080px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.roadmap .inner .txtBox {width: 100%; margin-bottom: 70px;}
.roadmap .inner .txtBox .tit {font-size: 42px; font-weight: 600; color: #fff; text-align: center; margin-bottom: 20px;}
.roadmap .inner .txtBox .txt {font-size: 16px; font-weight: 300; color: #fff; line-height: 1.6; text-align: center;}
/* .roadmap .slide */
.roadmap .inner .slide {width: 100%;}
.roadmap .inner .slide li {width: 344px; height: 380px; background: #002c5f; color: #fff; padding: 38px 28.8px; box-sizing: border-box; margin: 20px 6px 0; position: relative; cursor: pointer;}
.roadmap .inner .slide li.scrollContents {color: #000; background: #fff; height: 420px; margin-top: 0; overflow: scroll; padding-bottom: 0;}
.roadmap .inner .slide li .subTit {font-size: 26px; font-weight: 600; margin-bottom: 40px;}
.roadmap .inner .slide li.long .subTit {margin-bottom: 20px;}
.roadmap .inner .slide li.short .subTit {margin: 40px 0 50px;}
.roadmap .inner .slide li.txtOnly .txt {margin-top: 40px;}
.roadmap .inner .slide li .txt {font-size: 16px; font-weight: 200; line-height: 1.4;}
.roadmap .inner .slide li .date {font-size: 16px; font-weight: 600; position: absolute; bottom: 35px;}
.roadmap .inner .slide li.scrollContents .subTit {font-weight: 800;}
.roadmap .inner .slide li.scrollContents .txt {position: relative; margin-bottom: 80px; font-weight: 400;}
.roadmap .inner .slide li.scrollContents .date {position: relative; color: #00aad2; font-weight: 800;}
.roadmap .inner .utc {float: right; font-size: 15px; font-weight: 300; color: #fff; margin-top: 40px;}
/* arrows */
.roadmap .inner .slide .slick-arrow::before {font-size: 50px; color: #fff;}
.roadmap .inner .slide .slick-prev {left: -55px;}
.roadmap .inner .slide .slick-next {right: -55px;}
    /* animation */
    .roadmap .inner .txtBox.motion .tit {animation-name: up; animation-duration: 0.7s;}
    .roadmap .inner .txtBox.motion .txt {animation-name: up; animation-duration: 1.2s;}



/* section.partners */
.partners {width: 100%; height: 347px; background: #000; position: relative;}
.partners .inner {width: 960px; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.partners .inner .tit {font-size: 42px; color: #fff; font-weight: 600; padding-bottom: 50px;}
.partners .inner .partnerLogo {width: 100%; display: flex; justify-content: space-between;}
.partners .inner .partnerLogo li {height: 49px;}
.partners .inner .partnerLogo li a img {height: 100%;}
    /* animation */
    .partners .inner.motion .tit {animation-name: up; animation-duration: 0.7s;}
    .partners .inner.motion .partnerLogo li:nth-child(1) {animation-name: up; animation-duration: 0.7s;}
    .partners .inner.motion .partnerLogo li:nth-child(2) {animation-name: up; animation-duration: 1.2s;}
    .partners .inner.motion .partnerLogo li:nth-child(3) {animation-name: up; animation-duration: 1.8s;}



/* section.faq */
.faq {width: 100%; background: #e4dcd3; overflow: hidden;}
.faq .inner {width: 1140px; margin: 0 auto; padding: 98px 0;}
.faq .inner .tit {width: 100%; font-size: 42px; color: #000; font-weight: 600; text-align: center; margin-bottom: 20px;}
.faq .inner .questionBox {width: 100%;}
.faq .inner .questionBox details {width: 100%; margin-bottom: 6px;}
.faq .inner .questionBox details .subTit {width: 100%; height: 70px; line-height: 70px; background: #fff; cursor: pointer; font-size: 20px; font-weight: 600; padding: 0 48px; box-sizing: border-box; position: relative;}
.faq .inner .questionBox details .subTit::marker {font-size: 0;}
.faq .inner .questionBox details .subTit .lnr {position: absolute; top: 50%; transform: translateY(-50%); right: 48px; font-size: 16px; font-weight: 600;}
.faq .inner .questionBox details[open] .subTit .lnr {transform: rotate(180deg) translateY(10px);}
.faq .inner .questionBox details .answer {width: 100%; padding: 48px 48px 60px; font-size: 16px; font-weight: 300; line-height: 1.6; background: #f6f3f2; box-sizing: border-box;}
    /* animation */
    .faq .inner.motion .tit {animation-name: up; animation-duration: 1.2s;}



/* footer */
footer {width: 100%; height: 50px; line-height: 50px; background: #002c5f;}
footer .inner {width: 500px; color: #fff; font-size: 16px; font-weight: 600; display: flex; justify-content: space-between; text-align: center; margin: 0 auto;}



/* responsive Web */
/* ~ 1380px */
@media screen and (max-width:1380px) {
.slideContents.slide .slick-prev {left: 10px;}
    .slideContents.slide .slick-next {right: 10px;}
}

/* ~ 1200px */
@media screen and (max-width:1200px) {
    header {padding: 0 24px; top: 35px;}
    header .gnb, header .sideBtn {display: none;}
    .roadmap .inner .slide .slick-prev {left: -30px;}
    .roadmap .inner .slide .slick-next {right: -30px;}
    .faq .inner {width: 92%}
    /* header 매뉴오픈 */
    .visual header {position: relative;}
    .gnbMo {display: block; width: 100%; height: 100vh; position: absolute; top: -35PX; left: 0;}
        .menuOpen {display: block; position: absolute; right: 24px; top: 35px; font-size: 30px; color: #fff;}
        .gnb2 {width: 100%; height: 100%; background: #002c5f; color: #fff; transition: all 0.5s; z-index: 200; position: absolute; left: 100%; padding: 35px 24px; box-sizing: border-box;}
        .gnb2.on {transition: all 0.5s; left: 0;}
        .gnb2 .topGnb2 {width: 100%; float: left; padding-bottom: 16px; border-bottom: 1px solid rgba(255,255,255,0.1);}
        .gnb2 .topGnb2 .logo {float: left;}
        .gnb2 .topGnb2 .rightGnb2 {float: right;}
        .gnb2 .topGnb2 .rightGnb2 .lang {float: left; margin-right: 20px; position: relative;}
        .gnb2 .topGnb2 .rightGnb2 .lang a {color: #4f4e4e; margin: 0 5px;}
        .gnb2 .topGnb2 .rightGnb2 .lang a:nth-child(1)::before {content: '｜'; position: absolute; top: 0; left: 50%; transform: translateX(-50%);}
        .gnb2 .topGnb2 .rightGnb2 .lang a:nth-child(2)::before {content: '｜'; position: absolute; top: 0; left: 50%; transform: translateX(-50%); display: none;}
            /* .lang:hover */
            .gnb2 .topGnb2 .rightGnb2 .lang a:nth-child(1):hover, .gnb2 .topGnb2 .rightGnb2 .lang a:nth-child(1):hover::before, .gnb2 .topGnb2 .rightGnb2 .lang a:nth-child(1):focus, .gnb2 .topGnb2 .rightGnb2 .lang a:nth-child(1):focus::before {color: #fff;}
            .gnb2 .topGnb2 .rightGnb2 .lang a:nth-child(2):hover, .gnb2 .topGnb2 .rightGnb2 .lang a:nth-child(2):hover::before, .gnb2 .topGnb2 .rightGnb2 .lang a:nth-child(2):focus, .gnb2 .topGnb2 .rightGnb2 .lang a:nth-child(2):focus::before {color: #fff; display: inline-block;}
        .gnb2 .topGnb2 .rightGnb2 .close {float: right; display: block; font-size: 27px;}
        .gnb2 ul {margin: 73px 7px;}
        .gnb2 li {margin-bottom: 8px;}
        .gnb2 li:nth-child(6) {margin-bottom: 15px;}
        .gnb2 li a {display: block; width: 200px; font-size: 16px; font-weight: 600;}
        .gnb2 .icon {float: left;}
        .gnb2 .icon a {display: inline-block; width: 40px; height: 40px; background: #fff; border-radius: 50%;}
        .gnb2 .icon a:first-child {margin-right: 15px;}
        .gnb2 .icon a img {width: 65%; padding-left: 17.5%; padding-bottom: 2px;}
}

/* ~ 1145px */
@media screen and (max-width:1145px) {
    .visual .txtBox {width: 100%; padding-left: 72px; bottom: 25px;}
    .visual .txtBox .tit, .slide .txtBox ul .tit {font-size: 5.8vw;}
    .scroll {display: none;}
    .universe {height: 80vh}
    .universe .txtBox {left: 0; transform: translateX(0); padding-left: 50px; top: 50%; transform: translateY(-50%);}
    .universe .txtBox .tit {font-size: 5vw;}
    .universe p.bg {height: 45vw; bottom: 70px;}
    .slideContents.slide .bg {right: 45px;}
    .slideContents.slide .txtBox {min-width: 376px; min-height: 382px;}
    .slideContents.slide .slide2 .txtBox {min-width: 430px; min-height: 457px;}
    .slideContents.slide .slide2 .txtBox ul {width: auto; min-width: 400px;}
    .slideContents.slide .slick-prev {left: 10px;}
    .slideContents.slide .slick-next {right: 10px;}
    .slideContents.slide .slick-arrow:before {font-size: 5.5vw;}
}

/* ~ 1099px */
@media screen and (max-width:1099px) {
    .slideContents.slide .txtBox ul .tit {margin-bottom: 3vw;}
    .marquee .inner .slide li {width: 27vw; min-width: 245px;}
    .roadmap .slide .slick-arrow::before {display: none;}
    .roadmap .inner {width: 94vw;}
    .roadmap .inner .slide li {width: 32vw; margin: 20px 0.55vw 0;}
    .roadmap .inner .slide li .subTit {font-size: 2.48vw;}
    .partners .inner {width: 80vw;}
}

/* ~ 1020px */
@media screen and (max-width:1020px) {
.slide .txtBox {width: 60vw;}
}

/* ~ 875px */
@media screen and (max-width:875px) {
    .slide .slide2 .txtBox {width: 65vw;}
    .banner {background: url(../img/advertisementBGX2_2.jpg) no-repeat center/cover; height: 60vw;}
    .banner .tit {width: 100%; padding-left: 10%; padding-right: 0; font-size: 8vw; transform: translateY(-30px); box-sizing: border-box; line-height: 1.2;}
    .roadmap .inner .slide li {max-width: 350px;}
}

/* ~ 760px */
@media screen and (max-width:760px) {
    header .logo img {width: 149px;}
    .visual .txtBox .tit {font-size: 8vw; line-height: 1.3;}
    .visual .txtBox .txt {font-size: 3vw;}
    .universe {height: 177vw; min-height: 1133px;}
    .universe p.bg {width: 90%; top: 60px; left: 0; height: 62vw;}
    .universe .txtBox {top: 61%;}
    .universe .txtBox .tit {font-size: 10vw;}
    .universe .txtBox .tit br.mo {display: block;}
    .slideContents.slide {height: 177vw; min-height: 1033px;}
    .slideContents.slide .bg {width: 68vw; top: 25vw; right: 0; left: 50%; transform: translate(-50%, 0);}
    .slideContents.slide .txtBox ul {width: 100%;}
    .slideContents.slide .txtBox ul .tit {font-size: 10vw;}
    .slideContents.slide .slick-arrow:before {font-size: 12vw;;}
    /* slide1 */
    .slideContents.slide .slide1 {height: 177vw; min-height: 1033px; background-position: right top;}
    .slideContents .slide1 .txtBox {background: none; left: 50%; transform: translateX(-50%); width: 60vw; top: 55%;}
    /* slide2 */
    .slideContents.slide .slide2 {height: 177vw; min-height: 1033px;}
    .slideContents.slide .slide2 .txtBox {width: 90%; height: 67vw; right: 0; left: initial; top: 92vw; transform: translateY(0);}
    .slideContents.slide .slide2 .txtBox ul {width: 100%; padding-left: 10vw; padding-right: 7vw; box-sizing: border-box;}
    .slideContents.slide .slide2 .txtBox .txt br.hide {display: none;}
    .marquee .inner .slide li {width: 40vw; min-width: 226px;}
    .marquee .inner .tit {font-size: 27px;}
    .marquee .inner button {font-size: 16px; padding: 12px 38px;}
    .roadmap .inner .txtBox .tit {font-size: 27px;}
    .roadmap .inner .slide li .subTit {font-size: 3.8vw;}
    .partners {height: 64vw; min-height: 427px;}
    .partners .inner .partnerLogo {flex-wrap: wrap; display: block;}
    .partners .inner .partnerLogo li {margin-bottom: 50px;}
    .partners .inner .partnerLogo li:last-child {margin-bottom: 0;}
    .partners .inner .tit {font-size: 27px; padding-top: 0;}
    .faq .inner .tit {font-size: 27px;}
    footer {height: auto; line-height: 1;}
    footer .inner {display: block; width: auto; text-align: left; padding: 40px}
    footer .inner li {margin-bottom: 13px;}
    footer .inner li:last-child {margin-bottom: 0;}
}

/* ~ 640px */
@media screen and (max-width:640px) {
    .faq .inner .questionBox details .subTit {font-size: 16px;}
}

/* ~ 540px */
@media screen and (max-width:540px) {
    .roadmap .inner .txtBox .txt {font-size: 3.2vw;}
    .roadmap .inner .slide li {max-width: 384px; min-width: 100px; padding: 2vw 5vw; margin: 0 8px;}
    .roadmap .inner .slide li .subTit {font-size: 4.8vw;}
    .roadmap .inner .slide li .txt {font-size: 13px;}
    .roadmap .inner .utc {font-size: 3.3vw;}
    .faq .inner .questionBox details .subTit {height: auto; line-height: 1; padding: 20px 15vw 20px 5vw; font-size: 3.5vw;}
    .faq .inner .questionBox details .subTit .lnr {right: 5vw;}
    .faq .inner .questionBox details .answer {padding: 8vw; font-size: 3vw;}

}

/* ~ 479px */
@media screen and (max-width:479px) {
    .visual {background: url(../img/mbannerBG2x.jpg) center/cover no-repeat;}
    .visual .txtBox {padding-left: 34px;}
    .visual .txtBox .tit {margin-bottom: 17px; font-size: 11vw;}
    .universe {min-height: 100vh;}
    .universe .txtBox {top: 59%; padding-left: 60px;}
    .universe .txtBox .tit {line-height: 1.2; margin-bottom: 20px;}
    .universe .txtBox .txt {font-size: 3.5vw;}
    .slideContents.slide {height: 100vh; min-height: initial;}
    .slideContents.slide .bg {top: 50%; transform: translate(-50%, -120%);}
    .slideContents.slide .slide1 {height: 100vh; min-height: initial;}
    .slideContents.slide .slide2 {height: 100vh; min-height: initial;}
    .slideContents.slide .txtBox {min-width: initial; min-height: initial; top: 50%; left: 50%; transform: translate(-50%, 0); width: 64vw; height: 82vw;}
    .slideContents.slide .txtBox ul {min-width: initial; min-height: initial; transform: initial; top: initial; left: initial;}
    .slideContents.slide .txtBox ul .tit {margin-bottom: 5vw; font-size: 10vw;}
    .slideContents.slide .txtBox ul .txt {font-size: 3.5vw;}
    /* .slide2 */
    .slideContents.slide .slide2 .txtBox {min-width: initial; min-height: initial; width: 88vw; height: 110vw; top: 50%; left: initial; right: 0; transform: translate(0, -7%);}
    .slideContents.slide .slide2 .txtBox ul {min-width: initial; min-height: initial; transform: initial; top: initial; left: initial; width: 100%; height: 100%; padding-top: 7vw; padding-right: 10vw;}
    .marquee .inner .tit {margin-bottom: 50px;}
    .marquee .inner .slide li {width: 62vw; min-width: 100px;}
    .marquee .inner button {padding: 12px 28vw;}
    .roadmap .inner .utc {margin-bottom: 20px;} 
    .partners .inner .partnerLogo li {margin-bottom: 10vw;}
    .partners .inner .tit {padding-bottom: 10vw;}
    .partners .inner .partnerLogo li {height: 10vw;} 
}

/* ~ 399px */
@media screen and (max-width:399px) {
    header .logo img {width: 36vw;}
    .gnb2 .topGnb2 .rightGnb2 .lang {margin-right: 1vw;}
    .gnb2 .topGnb2 .rightGnb2 .lang a {font-size: 4.2vw;}
    .gnb2 li {width: auto;}
    .gnb2 li a {font-size: 4.5vw; width: auto;}
    .visual .txtBox {padding-left: 18px; padding-right: 10px;}
    .visual .txtBox .tit {font-size: 10vw;}
    .visual .txtBox .txt {font-size: 4vw;}
    .universe {height: 212vw; min-height: 0;}
    .universe .txtBox {padding-left: 7vw; padding-right: 10px; top: 129vw; width: auto;}
    .universe .txtBox .tit {margin-bottom: 10px;}
    .universe p.bg {height: 60vw; top: 12vw;}
    .slideContents.slide .slide2 .txtBox {background: none;}
    .slideContents.slide .slide2 .txtBox ul {background: rgba(0,0,0,0.4); height: auto; padding-bottom: 30px; padding-top: 5vw;}
    .slideContents.slide .txtBox ul .txt {font-size: 3.3vw;}
    .slideContents.slide .bg {transform: translate(-50%, -108%);}
    .roadmap .inner .txtBox {margin-top: 30px; margin-bottom: 15vw;}
    .roadmap .inner .txtBox .txt {font-size: 3.8vw; padding: 0 3%; box-sizing: border-box;}
    .roadmap .inner .slide li {min-width: 100px; max-width: 285px; max-height: 330px; margin-right: 7.5px; margin-left: 7.5px; padding: 5vw 15px;}
    .roadmap .inner .slide li .subTit {font-size: 4.5vw; margin-bottom: 10vw;}
    .roadmap .inner .slide li.short .subTit {margin: 3vw 0 10vw;}
    .roadmap .inner .slide li .txt {font-size: 3.8vw;}
    .roadmap .inner .slide li .date {font-size: 3.8vw; bottom: 5vw;}
    .roadmap .inner .utc {float: none; text-align: right; margin-top: 5vw; padding: 0 15px;}
    .marquee .inner .tit {margin-bottom: 15vw; margin-top: 30px;}
    .marquee .inner button {margin-bottom: 30px;}
    .partners {min-height: 300px;}
    .faq .inner {padding: 20vw 0;}
    .faq .inner .questionBox details .subTit {font-size: 16px;}
    .faq .inner .questionBox details .answer {font-size: 3.8vw;}
}

/* ~ 250px */
@media screen and (max-width:250px) {
    .universe {height: 220vw;}
    .universe .txtBox {top: 113vw;}
    .universe .txtBox .tit {line-height: 1.1;}
    .universe .txtBox .txt {line-height: 1.4;}
    .roadmap .inner .slide li {min-width: 90px; min-height: 370px;}
    .partners {min-height: 230px;}
}