@charset "utf-8";

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 200; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/* 공통 */
body {width:100%; color: #000; letter-spacing: -1px;}
.inner {width: 100%; background: #fafafa;}
section {margin-bottom: 5%;}
.subTitle {font-size: 18px; font-weight: bold; margin-bottom: 1%;}
p {font-size: 14px;}

/* header */
header {width: 100%; height: 60px; position: fixed; z-index: 2; left: 0; top: 0; padding-left: 18px; border-bottom: 1px solid #d8d8d8; background: #fff;}
.logo {width: 150px; height: 40px; padding-top: 10px;}
.logo a {width: 100%; height: 100%; display: block; background: url(../img/pc_1280_02.png) -10px -10px;}
.menuOpen.mo {display: none;}

/* 좌측 메뉴, .on class 활용 */
.menu {width: 250px; height: 100vh; position: fixed; z-index: 2; top: 60px; left: 0; background: #fff; border-top: 1px solid #d8d8d8; border-right: 1px solid #d8d8d8; transition: all 0.3s;}
.menu.on {transform: translateX(-250px);}
    /* .menuOpen, .menuClose */
    .btn {display: block; position: absolute; right: -25px; top: 10%; width: 25px; height: 300px; background: #f2ba03; border: none; border-radius: 0 7px 7px 0;  cursor: pointer;}
    .menuOpen {display: none;}
    .menu.on .menuOpen {display: block;}
    .btn::before {content: '\f053'; width: 100%; height: 100%; position: absolute; top: 0; left: 0; font-family: 'fontAwesome'; color: #fff; line-height: 300px; text-align: center; font-size: 18px;}
    .menuOpen::before {content: '\f054';}
.menu ul {margin-top: 50px; margin-left: 17%;}
.menu li {margin-bottom: 5%;}
.menu li a {font-weight: bold;}
.menu .subTitle {transform: translateX(-5%); padding-bottom: 3%;}
    /* hover, focus */
    .menu li:hover, .menu li:focus {color: #f2ba03;}

/* tab */
.tab {width: 950px; margin-left: 290px; padding-top: 100px; transition: margin-left 0.3s;}
.tab.on {margin-left: 3%;}
.tab .title {font-size: 36px; font-weight: bold; margin-bottom: 1%;}
.tabnav {width: 100%; display: flex; justify-content: space-between; border:1px solid #ddd; border-bottom: none; box-sizing: border-box;}
.tabnav li {width: 50%; text-align:center;}
.tabnav li a {display:block; background: #f3f3f5; padding:0 30px; line-height:46px; border-bottom:1px solid #c7cbce; border-top: 2px solid #a6a8ab; box-sizing: border-box;}
.tabnav li a.active {border-bottom:none; border-top: 2px solid #58595b; background: #fbfbfb;}

/* tabcontent */
.tabcontent {width: 100%; padding: 20px; background: fbfbfb; border:1px solid #ddd; border-top: none; box-sizing: border-box;}

/* #blog */
#blog {width: 100%;}
#blog li {border: 1px solid #ddd; box-sizing: border-box; display: flex;}
#blog li .img {width: 240px; min-width: 240px; height: 175px; overflow: hidden;}
#blog li .img a {width: 100%; height: 100%; display: block; transition: 0.3s; background: url(../img/pc_1280_close.png);}
    /* hover, focus */
    #blog li .img a:hover, #blog li .img a:focus {transform: scale(1.05);}
    /* 썸네일 */
    #blog li:nth-child(1) .img a {background-position: -55px -225px;}
    #blog li:nth-child(2) .img a {background-position: -55px -415px;}
    #blog li:nth-child(3) .img a {background-position: -55px -605px;}
    #blog li:nth-child(4) .img a {background-position: -55px -793px;}
    #blog li:nth-child(5) .img a {background-position: -55px -983px;}
    #blog li:nth-child(6) .img a {background-position: -55px -1173px;}
    #blog li:nth-child(7) .img a {background-position: -55px -1363px;}
    #blog li:nth-child(8) .img a {background-position: -55px -1552px;}
#blog li .textBox {width: 78%; min-height: 194px; padding: 3% 4% 1%; box-sizing: border-box; position: relative;}
#blog li .textBox .subTitle {transition: 0.2s; color: #223050;}
    /* hover, focus */
    #blog li .textBox .subTitle:hover, #blog li .textBox .subTitle:focus {text-decoration: underline;}
#blog li .textBox .subTitle span {background: #f2bc19; display: inline-block; margin-left: 1%; font-size: 12px; transform: translateY(-4px); padding: 0 3px; border-radius: 2px; color: #f3f3f5;}
#blog li:nth-child(2) .textBox .subTitle span {background: #c92903;}
#blog li .textBox .id {color: #58595b; margin-bottom: 40px;}
#blog li .textBox .id span {display: inline-block; margin-left: 1%; padding-left: 1%; border-left: 1px solid #ccc;}
#blog li .textBox .tag {max-width: 600px; position: absolute; bottom: 25px;}
#blog li .textBox .tag span {color: #fff; font-weight: bold; display: inline-block; padding: 3px 10px; margin: 0 0.1vw 0.3vw 0; background: #b4b6bb; border-radius: 3px; transition: all 0.2ms;}
#blog li .textBox .tag span.color92bab1 {background: #92bab1;}
#blog li .textBox .tag span.colora0a2db {background: #a0a2db;}
#blog li .textBox .tag span.colorcac85f {background: #cac85f;}
#blog li .textBox .tag span.color9c7b7b {background: #9c7b7b;}
    /* hover, focus */
    #blog li .textBox .tag span:hover, #blog li .textBox .tag span:focus {color: #222;}

/* #story */
#story {width: 100%;}

/* #story section.best */
.best {width: 100%;}
.best > ul {width: 100%; display: flex; justify-content: space-between;}
.best > ul > li {width: 50%;}
.best > ul .big {border: 1px solid #fff; box-sizing: border-box;}
.best > ul .big a {display: block; width: 100%; height: 330px; background: url(../img/pc_1280_02.png) -295px -265px;}
.best > ul .small ul {display: flex; flex-wrap: wrap;}
.best > ul .small ul li {width: 50%;}
.best > ul .small ul li:nth-child(1), .best > ul .small ul li:nth-child(2) {border-bottom: 1px solid #fff; box-sizing: border-box;}
.best > ul .small ul li:nth-child(1), .best > ul .small ul li:nth-child(3) {border-right: 1px solid #fff; box-sizing: border-box;}
.best > ul .small ul li a {display: block; width: 100%; height: 165px; background: url(../img/pc_1280_02.png); background-position: -750px -265px;}
    /* hover, focus */
    .best li {overflow: hidden;}
    .best li a {transition: 0.3s;}
    .best li a:hover, .best li a:focus {transform: scale(1.05);}

/* #story section.ranking */
.storyMiddle {width: 100%; display: flex; justify-content: space-between; margin-bottom: 30px;}
.ranking {width: 50%; margin-right: 2%;}
.ranking li {border-bottom: 1px solid #ccc; padding: 2%;}
.ranking a {display: block; width: 100%; overflow: hidden;}
.ranking .text {font-weight: bold; float: left;}
.ranking .text span {display: inline-block; padding-right: 10px;}
.ranking .star {position: relative; font-weight: bold; float: right; color: #bbb; white-space: nowrap;}
.ranking .star::before {position: absolute; top: 0; left: 0; content: '★★★★★'; width: 100%; color: red; overflow: hidden;}
.ranking li:nth-child(2) .star::before {width: 70%;}
.ranking li:nth-child(3) .star::before {width: 50%;}
.ranking li:nth-child(4) .star::before {width: 40%;}
.ranking li:nth-child(5) .star::before {width: 10%;}

/* #story section.new */
.new {width: 50%;}
.new .tag {margin-bottom: 10px; color: #aaa; font-weight: bold;}
.new .slide {width: 100%; padding-left: 7%; padding-right: 7%; box-sizing: border-box;}
.new .top {width: 100%; margin-bottom: 5%;}
.new .top .slide li {width: 80px;}
/* ↑ tab메뉴 슬라이드 깨짐 방지를 위해 width 강제 지정 */
.new .top .slide li a, .new .bottom .slide .img {display: block; width: 63px; height: 48px; background: url(../img/pc_1280_02.png) -985px -810px; margin: 0 auto;}
.new .bottom {width: 100%;}
.new .bottom .slide li {width: 200px; padding: 0 8px; box-sizing: border-box;}
.new .bottom .slide li a {display: flex; width: 100%; overflow: hidden;}
.new .bottom .slide .text {width: 137px; font-size: 12px; font-weight: bold; padding-top: 7px; padding-left: 5%; box-sizing: border-box;}
/* arrow */
.slick-arrow {position: absolute; left: 0; top: 50%; width: 30px; transform: translateY(-50%); border: none; color: transparent; background: none; z-index: 1;}
.slick-arrow::before {content: '\f053'; width: 100%; height: 100%; position: absolute; top: 0; left: 0; font-size: 16px; color: #aaa; font-family: 'fontAwesome'; cursor: pointer;}
.slick-next {left: initial; right: 0;}
.slick-next::before {content: '\f054';}

/* #story section.cardSlide */
.cardSlide {width: 100%;}
.cardSlide .slide {width: 100%;}
.cardSlide li {width: 600px; height: 255px; margin: 0 10px;}
.cardSlide li a {display: block; width: 100%; height: 100%; background: url(../img/mobile_640_02.png) -20px -1855px;}
/* arrow */
.cardSlide .slick-arrow {left: 145px;}
.cardSlide .slick-arrow::before {background: rgba(0,0,0,0.5); width: 40px; height: 40px; line-height: 40px; font-size: 22px; text-align: center; border-radius: 50%; color: rgba(255,255,255,0.7);}
.cardSlide .slick-next {left: initial; right: 145px;}
.cardSlide .slick-next::before {left: initial; right: 0;}

/* footer */
footer {width: 100%; background: #f1f1f1; margin-top: 50px;}
.copyright {width: 100%; text-align: center; line-height: 100px; color: #58595b;}



/* --------------반응형-------------- */

/* 1025px ~ 1280px */
@media screen and (max-width:1280px) {
    /* text */
    #blog li .textBox .subTitle span, .new .bottom .slide .text {font-size: 11px;}
    p {font-size: 14px;}
    .slick-arrow::before, .subTitle, .menu .btn::before, .menu li a, .cardSlide .slick-arrow::before {font-size: 16px}
    .tab .title {font-size: 28px;}
    /* menu */
    .menu {width: 18%;}
    .menu.on {transform: translateX(-18vw);}
    /* tab */
    .tab {width: 75%; margin-left: 21%;}
    /* tab_blog */
    #blog li .textBox {padding: 2vw;}
    #blog li .textBox .tag span {padding: 2px 5px;}
    /* tab_story */
    .best > ul .big a {height: 25vw; background-size: 100vw; background-position: -22.8vw -21vw;}
    .best > ul .small ul li a {height: 12.5vw; background-size: 51vw; background-position: -11.8vw -11vw;}
    .new .bottom .slide li {width: 180px;}
    .new .bottom .slide .text {width: 100px;}
    .cardSlide li {width: 50vw; height: 20vw;}
    .cardSlide li a {background-size: 50vw; background-position: 0vw -145vw;}
    .cardSlide .slick-arrow {left: 7vw;}
    .cardSlide .slick-next {left: initial; right: 8vw;}
    .cardSlide .slick-arrow::before {width: 30px; height: 30px; line-height: 30px;}
}

/* tablet : 768px ~ 1024px */
@media screen and (max-width:1024px) {
    /* menu */
    .menu {transform: translateX(-60vw); transition: none;}
    .menu.on {width: 30%; z-index: 6; top: 0; transform: initial; border: none;}
    .menu ul {margin-top: 5vw;}
    .menu .menuClose {background: none; top: 2vw; right: -30px; height: 50px;}
    .menu.on .menuClose::before {display: none;}
    .menu .menuClose::after {content: '\f00d'; width: 50px; height: 30px; position: absolute; top: 0; left: 0; font-family: 'fontAwesome'; color: #fff; font-size: 28px; font-weight: normal;}
    .menu .menuOpen, .menu.on .menuOpen {display: none;}
    .menuOpen::before {display: none;}
    .menuOpen.mo {display: block; width: 50px; height: 50px; position: absolute; top: 4px; right: 50px; background: url(../img/mobile_640_02.png) -380px -5px no-repeat; background-size: 450px; border-radius: 0; filter: brightness(1.2);}
    /* menu open 시 뒷배경 흐리게 */
    .wrap::before {width: 100%; height: 100vh; background: rgba(0,0,0,0.7); position: fixed; top: 0; left: 0; content: ''; z-index: 3; display: none;}
    .wrap.on::before {display: block;}
    /* tab */
    .tab, .tab.on {width: 90%; margin: 0 auto;}
    /* tab_story */
    .best > ul .big a {height: 30vw; background-size: 118vw; background-position: -26.3vw -25vw;}
    .best > ul .small ul li a {height: 15vw;background-size: 61vw;background-position: -14vw -13vw;}
}

/* mobile : 541px ~ 767px */
@media screen and (max-width:767px) {
    /* text */
    body {letter-spacing: -0.5px;}
    .new .bottom .slide .text {font-size: 14px;}
    p, #blog li .textBox .subTitle span {font-size: 16px;}
    .slick-arrow::before, .subTitle, .menu .btn::before, .menu li a, .cardSlide .slick-arrow::before {font-size: 20px;}
    .tab .title, .menu .menuClose::after, .ranking .star {font-size: 28px;}
    /* header */
    header {padding-left: 2vw;}
    .logo {padding-top: 15px;}
    .logo a {background-size: 1100px;}
    /* menu */
    .menu.on {width: 50%;}
    .menuOpen.mo {right: 5vw;}
    /* tab */
    .tab, .tab.on {width: 100%; padding-top: 80px;}
    .tab .title {margin-left: 3vw; margin-bottom: 2%;}
    .tabcontent {padding: 2vw 0; background: #f9f9f9;}
    .tabnav li a.active {background: #f9f9f9;}
    .tabnav li .subTitle {margin-bottom: 0;}
    /* tab_blog */
    #blog ul {background: #f9f9f9;}
    #blog li {border: none; border-bottom: 4px solid #eeedf1; background: #fff; margin-bottom: 2vw;}
    #blog li .img {display: none;}
    #blog li .textBox {min-height: initial; width: 100%; padding: 3vw 4vw;}
    #blog li .textBox .subTitle {margin-bottom: 10px;}
    #blog li .textBox .subTitle span {transform: translateY(-0.1vw);}
    #blog li .textBox .tag {position: relative; bottom: initial;}
    #blog li .textBox .id {margin-bottom: 4vw; color: #bbb;}
    #blog li .textBox .tag span, #blog li .textBox .tag span:hover, #blog li .textBox .tag span:focus {background: none; color: #7f7f7f; filter:brightness(0.9); padding: 0 2px; font-weight: normal;}
    #blog li .textBox .tag span.color92bab1 {color: #169a85; background: none;}
    #blog li .textBox .tag span.colora0a2db {color: #5d65d2; background: none;}
    #blog li .textBox .tag span.colorcac85f {color: #c4ac17; background: none;}
    #blog li .textBox .tag span.color9c7b7b {color: #7d4648; background: none;}
    /* tab_story */
    #story {padding: 1vw 3vw; box-sizing: border-box;}
    .best > ul .big a {height: 33vw;background-size: 133vw;background-position: -30.6vw -29vw;}
    .best > ul .small ul li a {height: 16.4vw;background-size: 68vw;background-position: -16vw -15vw;}
    .storyMiddle {flex-direction: column-reverse;}
    .new {width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap;}
    .new .subTitle {width: 100%;}
    .new .top {width: 50%; background: #fff; padding: 2vw 0 2vw 2vw; box-sizing: border-box; border-radius: 5px 0 0 5px; margin-bottom: 0;}
    .new .bottom {width: 50%; background: #fff; padding: 2vw 2vw 2vw 0; box-sizing: border-box; border-radius: 0 5px 5px 0;}
    .new .top .slide li {width: 32vw; margin: 0 5vw;}
    .new .top .slide li a {background: url(../img/mobile_640_02.png) no-repeat; background-position: -11vw -208vw; width: 100%; height: 24vw; background-size: 100vw;}
    .new .bottom .slide li {margin: 0 auto; width: 100vw;}
    .new .bottom .slide li a {display: block;}
    .new .bottom .slide .img {background: url(../img/mobile_640_02.png) no-repeat; background-position: -64vw -209vw; width: 19vw; height: 14vw; background-size: 100vw; margin-top: 2vw;}
    .new .bottom .slide .text {width: 100%; text-align: center; padding: 2vw 0;}
    .slick-arrow {left: 0;}
    .slick-next {left: initial; right: 0;}
    .bottom .slick-arrow {left: 7vw;}
    .bottom .slick-next {left: initial; right: 7vw;}
    .ranking {width: 100%;}
    .ranking ul {background: #fff; border-radius: 5px;}
    .ranking li {border-bottom: none; padding: 1% 2%;}
    .ranking .text {padding-top: 2vw;}
    .ranking .text span {color: #f2ba03;}
    .cardSlide li {width: 100vw; height: 42vw;}
    .cardSlide li a {background-size: 100vw; background-position: 0vw -288vw;}
    .cardSlide .slick-dots {width: 100px; margin: 3vw auto 0;}
    .cardSlide .slick-dots li {width: 20px; height: 20px; display: inline-block; margin: 0;}
    .cardSlide .slick-dots li button {display: block; border: none; color: transparent; width: 10px; height: 10px; border-radius: 50%; background: #c3c3c3; margin: 0 auto;}
    .cardSlide .slick-dots li.slick-active button {background: #434343;}
    .cardSlide .slick-arrow {bottom: 5px; top: initial; left: 30vw;}
    .cardSlide .slick-next {left: initial; right: 30vw;}
    /* footer */
    footer {margin-top: 0;}
}

/* mobile : 431px ~ 540px */
@media screen and (max-width:540px) {
    /* text */
    .slick-arrow::before, .subTitle, .menu .btn::before, .menu li a, .cardSlide .slick-arrow::before {font-size: 18px;}
    .tab .title, .menu .menuClose::after, .ranking .star {font-size: 24px;}
    /* header */
    .menuOpen.mo {background-size: 430px; right: 3vw;}
    /* menu */
    .menu.on {width: 75%;}
    .menu ul {margin-top: 10vw;}
    .menu .menuClose {top: 6vw;}
    /* tab_blog */
    .tabnav li a {padding: 0;}
    #blog li .textBox .id {margin-bottom: 6vw;}
    /* tab_story */
    .best > ul {flex-wrap: wrap;}
    .best > ul .big {width: 100%;}
    .best > ul .big a {height: 66vw;background-size: 270vw; background-position: -63.6vw -59vw;}
    .best > ul .small {width: 100%;}
    .best > ul .small ul li a {height: 33.4vw;background-size: 135vw;background-position: -32vw -29vw;}
    .bottom .slick-arrow {left: 6vw;}
    .bottom .slick-next {left: initial; right: 6vw;}
    .cardSlide .slick-arrow {left: 26vw;}
    .cardSlide .slick-next {left: initial; right: 26vw;}
}

/* mobile : 320px ~ 430px */
@media screen and (max-width:430px) {
    /* text */
    .slick-arrow::before, .subTitle, .menu .btn::before, .menu li a, .cardSlide .slick-arrow::before {font-size: 3.7vw;}
    .tab .title, .menu .menuClose::after {font-size: 6vw;}
    p, #blog li .textBox .subTitle span, .ranking .star {font-size: 3.5vw;}
    .new .bottom .slide .text {font-size: 3.2vw;}
    /* tab_story */
    .ranking .text {padding-top: 1vw;}
    .slick-arrow {left: -4vw;}
    .slick-next {left: initial; right: -4vw;}
    .bottom .slick-arrow {left: 3vw;}
    .bottom .slick-next {left: initial; right: 3vw;}
    .cardSlide .slick-arrow::before {width: 8vw; height: 8vw; line-height: 8vw;}
    .cardSlide .slick-arrow {left: 20vw;}
    .cardSlide .slick-next {left: initial; right: 20vw;}
}